@model CustomerProfileViewModel

@{
	ViewData["Title"] = "Profile";
}

<div class="container-fluid">
	<div class="my-3">
		<a class="btn btn-info btn-sm" asp-action="Display" asp-controller="Address">Your Addresses</a>
	</div>

	<table class="table table-striped table-bordered table-sm">
		<thead>
			<tr>
				<th class="text-left">Name</th>
				<th class="text-left">Email</th>
				<th class="text-left">Date of Birth</th>
				<th class="text-left">Phone Number</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.FirstName @Model.LastName</td>
				<td>@Model.Email</td>
				<td>@Html.DisplayFor(d => Model.DOB)</td>
				<td>@Model.PhoneNumber</td>
				<td class="text-center">
					<a class="btn btn-warning btn-sm" asp-action="Update" asp-controller="Customer" asp-route-id="@Model.CustomerId">Edit Profile</a>
				</td>
			</tr>
		</tbody>

	</table>
</div>
